<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="/static/imgs/favicon.ico" type="image/x-icon">
    <title>后台管理系统</title>
    <link rel="stylesheet" href="/static/webs/layui/css/layui.css">
    <style>
        .layui-layout-admin .layui-side { width: 200px; }
        .layui-layout-admin .layui-body { left: 200px; }
        .layui-layout-admin .layui-footer { left: 200px; }
        #mainFrame { width: 100%; height: 100%; border: none; }
    </style>
</head>
<body>
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo"><img src="/static/imgs/bo_luo_tb.png" style="height:24px;vertical-align:middle;margin-right:8px;">后台管理系统</div>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item layui-hide-xs"><a href="javascript:;"><img src="/static/imgs/bo_luo_tb.png" class="layui-nav-img" id="adminAvatar"><span id="adminName">管理员</span></a><dl class="layui-nav-child"><dd><a href="javascript:;" id="editProfileLink">编辑资料</a></dd><dd><a href="javascript:;" id="logoutLink">退出</a></dd></dl></li>
            </ul>
        </div>
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" lay-filter="leftNav">
                    <li class="layui-nav-item layui-this"><a href="javascript:;" data-url="/admin/dashboard"><i class="layui-icon layui-icon-home"></i> 仪表盘</a></li>
                    <li class="layui-nav-item"><a href="javascript:;" data-url="/admin/users"><i class="layui-icon layui-icon-user"></i> 用户管理</a></li>
                    <li class="layui-nav-item"><a href="javascript:;" data-url="/admin/articles"><i class="layui-icon layui-icon-file"></i> 内容管理</a></li>
                    <li class="layui-nav-item"><a href="javascript:;" data-url="/admin/tags"><i class="layui-icon layui-icon-flag"></i> 标签管理</a></li>
                    <li class="layui-nav-item"><a href="javascript:;" data-url="/admin/comments"><i class="layui-icon layui-icon-reply-fill"></i> 评论管理</a></li>
                    <li class="layui-nav-item"><a href="javascript:;" data-url="/admin/messages"><i class="layui-icon layui-icon-notice"></i> 消息管理</a></li>
                    <li class="layui-nav-item"><a href="javascript:;" data-url="/admin/files"><i class="layui-icon layui-icon-upload"></i> 文件管理</a></li>
                    <li class="layui-nav-item"><a href="javascript:;" data-url="/admin/settings"><i class="layui-icon layui-icon-set"></i> 系统设置</a></li>
                </ul>
            </div>
        </div>
        <div class="layui-body">
            <iframe id="mainFrame" src="/admin/dashboard"></iframe>
        </div>
    </div>
    <script src="/static/webs/layui/js/layui.js"></script>
    <script src="/static/webs/admin_pages/js/admin_request_api.js"></script>
    <script src="/static/webs/admin_pages/js/lostory_option.js"></script>
    <script src="/static/webs/admin_pages/js/send_log.js"></script>
    <script>
    layui.use(['element'], function() {
        var element = layui.element, layer = layui.layer;
        var adminId = lostoryOption.getAdminId();
        if (!adminId) { SendLog.log_warning('未登录跳转到管理后台', 'index'); window.location.href = '/admin/login'; return; }
        var adminName = lostoryOption.getAdminName();
        if (adminName) { document.getElementById('adminName').textContent = adminName; }
        adminApi._baseUrl = window.location.origin;
        adminApi.auth.getMe().then(function(res) {
            if (res.code === 200 && res.data.avatar) { document.getElementById('adminAvatar').src = res.data.avatar; }
        }).catch(function(err) { SendLog.log_error('获取管理员头像失败: ' + err.message, 'index'); });
        SendLog.log_info('管理员进入后台: ' + adminId, 'index');
        element.on('nav(leftNav)', function(elem) {
            var url = elem.attr('data-url');
            if (url) {
                SendLog.log_info('导航到: ' + url, 'index');
                document.querySelectorAll('.layui-nav-tree .layui-nav-item').forEach(function(el) { el.classList.remove('layui-this'); });
                elem.parent().addClass('layui-this');
                lostoryOption.setCurrentPage(url);
                document.getElementById('mainFrame').src = url;
            }
        });
        var currentPage = lostoryOption.getCurrentPage();
        document.getElementById('mainFrame').src = currentPage;
        document.querySelectorAll('.layui-nav-tree .layui-nav-item').forEach(function(el) { el.classList.remove('layui-this'); });
        document.querySelectorAll('.layui-nav-tree .layui-nav-item').forEach(function(el) {
            if (el.querySelector('a').getAttribute('data-url') === currentPage) { el.classList.add('layui-this'); }
        });
        document.getElementById('editProfileLink').onclick = function() {
            SendLog.log_info('打开编辑资料弹窗', 'index');
            lostoryOption.openDialog('编辑资料', '/admin/dialogs/profile_edit.html', ['500px', '300px']);
        };
        document.getElementById('logoutLink').onclick = function() {
            SendLog.log_info('管理员退出登录', 'index');
            lostoryOption.confirmDialog('确认退出登录？', function() { lostoryOption.clearAuth(); window.location.href = '/admin/login'; });
        };
    });
    </script>
</body>
</html>
