<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>管理后台登录</title>
    <link rel="stylesheet" href="/static/webs/layui/css/layui.css">
</head>
<body>
    <div class="layui-container" style="margin-top:100px;">
        <div class="layui-row">
            <div class="layui-col-md4 layui-col-md-offset4">
                <form class="layui-form" action="/api/admin/auth/login" method="post">
                    <div class="layui-form-item">
                        <input type="text" name="usernumber" lay-verify="required" placeholder="账号" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <input type="password" name="password" lay-verify="required" placeholder="密码" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="login">登录</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/static/webs/layui/layui.js"></script>
</body>
</html>
